# --- APP CONFIG ---
PORT=
APP_ENV=

# --- POSTGRESQL ---
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=

# --- REDIS (Cache & Session) ---
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# --- MONGODB (Logs & Chat) ---
MONGO_USER=
MONGO_PASSWORD=
MONGO_DB_NAME=
MONGO_URI=

# --- QDRANT (Vector DB) ---
QDRANT_HOST=
QDRANT_PORT=
QDRANT_GRPC_PORT=

# --- SECURITY ---
JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=
ACCESS_TOKEN_EXPIRY=

# --- GOOGLE OAUTH ---
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# --- CLOUDINARY CONFIG ---
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER_NAME=

# --- GMAIL CONFIG ---
SMTP_HOST=
SMTP_PORT=
GMAIL_PASSWORD=
GMAIL_USER=

# --- CONTEXT CONFIG---
CONTEXT_TIMEOUT=